.container-tasks{
    width: 100%;
    height: 100%;
}

.container-tasks h2{
    text-align: center;
    margin: 2rem 0 1rem 0;    
}

.cards-flexbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.container-cards-atividades{
    width: 360px;
    height: auto;
    justify-content: center;
    margin: 1rem 3rem;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}


.card-atividades{
    width: 100%;
    height: 340px;
    background-color: var(--cards-color);
    border-radius: 12px;
    padding: 10px;
    margin: 0.5rem;
}

.card-atividades h3{
    text-align: center;
    margin: 6px 0;
}

.card-atividades h4{
    padding: 8px 0;
}

.card-atividades p{
    padding: 8px 0;
    text-align: left;
}
.card-infos{
    height: 286px;
}

.card-actions{
    display: flex;
    justify-content: center;
    height: 30px;
    gap: 0.5rem;
}

.card-actions .remover{
    background-color: rgb(189, 19, 19);
    border: none;
    padding: 0 3.2rem;
}
.card-actions .remover:hover{
    background-color: rgb(164, 24, 24);
    border: none;
}

.card-actions .concluir{
    padding: 0 3.2rem;
}



