.container-login{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../../public/banner-login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.inner-login{
    width: 400px;
    height: 400px; 
    background-color: #111111d8;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
}

.div-img-briotech{
    display: flex;
    justify-content: center;
}

.div-img-briotech img{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 20%;
}

.login-title{
    display: flex;
    justify-content: center;
    font-size: 1.75rem;
    font-weight: 600;
    padding: 100px 0 10px 0;
}
.login-title span{
    color: var(--second-color);
}

.form-login div{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.form-login div label{
    padding-left: 16px;
    padding-bottom: 2px;
    font-size: 1.1rem;
    font-weight: 600;
}
.form-login div input{
    padding: 6px;
    margin: 0 16px;
    outline: none;
    border: none;
    border-radius: 4px;
}

.div-login-button{
    width: 100%;
    text-align: center;
    padding-top: 1rem;
}

.button-padrao{
    padding: 6px 28px;
    color: var(--primary-color);
    background-color: var(--second-color);
    border: 1px solid var(--second-color);
    cursor: pointer;
    font-size: 0.95rem;
    border-radius: 4px;
}

.button-padrao:hover{
    background-color: #31632b;
    border: 1px solid #31632b;
    transition: .2s ease;
}



.div-img-biotec{
    position: absolute;
    left: 0;
    bottom: -5%;
    padding-left: 10px;
}
.div-img-biotec img{
    width: 200px;
}

.div-img-catolica{
    position: absolute;
    right: 0;
    bottom: 0;
}
.div-img-catolica img{
    width: 200px;
    margin: 10px;
}

@media(max-width: 720px) {
    .div-img-biotec img, .div-img-catolica img{
        width: 160px;
    }
}